<footer class="bs-docs-footer" role="contentinfo">
    <div class="container">
        <div class="bs-docs-social">
            <ul class="bs-docs-social-buttons">
                <li class="follow-btn">
                    <a href="http://weibo.com/2270150963" class="twitter-follow-button" data-link-color="#0069D6"
                       data-show-count="true">关注新浪微博 </a>
                </li>
            </ul>
        </div>

        <p>设计并建造世界上所有的爱 </p>
        <ul class="bs-docs-footer-links muted">
            <li>LatteCake</li>
            <li>·</li>
            <li><a href="https://github.com/icowa">GitHub</a></li>
            <li>京ICP备15000265号-1</li>
        </ul>
    </div>
</footer>
