<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}测试页面{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}
        {% stylesheets '@AcmeHelloBundle/Resources/public/bootstrap/css/bootstrap.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets '@AcmeHelloBundle/Resources/public/css/doc.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>
<body>
<div id="navigation">
    {{ render(controller('AcmeHelloBundle:Main:navigation')) }}
</div>

{% block content %}
{% endblock %}

<div id="footer">
    {% include 'AcmeHelloBundle:Public:footer.html.twig' %}
</div>
</body>
</html>