{% extends "DemoWebBundle:Main:learn.html.twig" %}

{% block bannerContainer %}
    <div class="bs-docs-masthead">
        <div class="container">
            <div class="blog-header">
                <h1 class="blog-title"><h1>{{ title }}</h1></h1>
                <p class="lead blog-description">简洁、直观、优雅的前端框架，让web开发简单。</p>
            </div>
        </div>
    </div>
{% endblock %}
