{% extends "DemoWebBundle::default_layout.html.twig" %}

{% block content %}
    <main class="bs-docs-masthead" id="content" role="main">
        <h1>{{ title }}</h1>
        <div class="container">

        </div>
    </main>
{% endblock %}
