{% extends "DemoWebBundle::default_layout.html.twig" %}

{% block bannerContainer %}
    <div class="bs-docs-masthead">
        <div class="container">
            <div class="blog-header">
                <h1 class="blog-title"><h1>{{ title }}</h1></h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <main class="" id="content" role="main">
        <div class="container ">

        </div>
    </main>
{% endblock %}
