<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}LatteCake{% endblock %} {% block pageTitle %} {% endblock %}</title>
    <meta name="keywords" content="个人博客,个人技术博客,拿铁蛋糕,拿铁味的摩卡" />
    <meta name="description" content="{% block pageDescription %}拿铁味的蛋糕，是一名码农，擅长各种技术。{% endblock %}" />
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" />
    {% stylesheets
        '@DemoWebBundle/Resources/public/css/doc.min.css'
        '@DemoWebBundle/Resources/public/css/blog.css'
        filter='cssrewrite,yui_css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% block stylesheets %}
    {% endblock %}

</head>
<body>
<div id="navigation">
    {{ render(controller('DemoWebBundle:Default:navigation')) }}
</div>

{% block content %}
{% endblock %}

<div id="footer">
    {% include 'DemoWebBundle:Public:footer.html.twig' %}
</div>
{#{% javascripts
    '@DemoWebBundle/Resources/public/js/jQuery-2.1.1.min.js'
    '@DemoWebBundle/Resources/public/bootstrap/js/bootstrap.min.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}#}
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.2/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

{% block javascript %}
{% endblock %}
</body>
</html>