{% extends "DemoWebBundle::default_layout.html.twig" %}

{% block content %}
    <div class="bs-docs-masthead">
        <div class="container">
            <div class="blog-header">
                <p class="lead blog-description">我生命中的过客，之所以是过客，因为你未曾为我停留。</p>
            </div>
        </div>
    </div>

    <main class="" id="content" role="main">
        <div class="container ">
            <!-- 多说评论框 start -->
            <div class="ds-thread" data-thread-key="guestBook" data-title="留言版" data-url="http://lattecake.com/guestBook"></div>
            <!-- 多说评论框 end -->
            <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
            <script type="text/javascript">
                var duoshuoQuery = {short_name:"lattecake"};
                (function() {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';ds.async = true;
                    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0]
                            || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
            </script>
            <!-- 多说公共JS代码 end -->

        </div>
    </main>
{% endblock %}
