{% extends "DemoWebBundle::default_layout.html.twig" %}

{% block content %}
    <div class="bs-docs-masthead">
        <div class="container">
            <div class="blog-header">
                <p class="lead blog-description">我生命中的过客，之所以是过客，因为你未曾为我停留。</p>
            </div>
        </div>
    </div>

    <main class="" id="content" role="main">
        <div class="container ">

            <div class="bs-callout bs-callout-info">
                {#<h4>Alternate elements</h4>#}
                <p>人生处世如行路，常有山水阻身前。在我们走过的路上，对于过去，不要过分追悔，失去的永远无法找回；对于现在，不要过分吝啬，
                    付出才是最好的拥有；对于未来，不要过分奢望，属于你的，都将在你要走过的路上。人生就像坐在地铁里看窗外的风景，
                    你会看到很多...</p>
            </div>

            <!-- 多说评论框 start -->
            <div class="ds-thread" data-thread-key="guestBook" data-title="留言版" data-url="http://lattecake.com/guestBook"></div>
            <!-- 多说评论框 end -->
            <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
            <script type="text/javascript">
                var duoshuoQuery = {short_name:"lattecake"};
                (function() {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';ds.async = true;
                    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0]
                            || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
            </script>
            <!-- 多说公共JS代码 end -->

        </div>
    </main>
{% endblock %}
