{% extends "DemoWebBundle::default_layout.html.twig" %}
{% block LC_stylesheets %}
    <link rel="stylesheet" href="http://storage.lattecake.com/static/css/font-awesome.min.css"/>
{% endblock %}
{% block bannerContainer %}
    {#<div class="bs-docs-masthead">
        <div class="container">
            <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">Lc</span>
            <p class="lead">拿铁味的摩卡是最受欢迎的个人技术博客。</p>
        </div>
    </div>#}
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class=""></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item">
                <a href="http://shetuan.me/" target="_blank">
                    <div class="fill" style="background-image:url('http://ditie.qiniudn.com/erovo/images/demo/header_slide_1.jpg');"></div>
                    <div class="carousel-caption">
                        <h2>与你兴趣相投的人围绕在你周围</h2>
                    </div>
                </a>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://ditie.qiniudn.com/erovo/images/demo/header_slide_2.jpg');"></div>
                {#<div class="carousel-caption">
                    <h2>活动</h2>
                </div>#}
            </div>
            <div class="item active">
                <div class="fill" style="background-image:url('http://ditie.qiniudn.com/erovo/images/demo/header_slide_3.jpg');"></div>
                <div class="carousel-caption">
                    <h2>情怀</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
{% endblock %}

{% block content %}
    <main class="" id="content" role="main">
        <div class="container">

            <!-- Marketing Icons Section -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        欢迎来到我的LatteCake
                    </h1>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">为什么人们愿意沉浸在负面情绪中？</h3>
                        </div>
                        <div class="panel-body">
                            <p>心理活动是有外界刺激，有知觉参与的，我们的注意力选择性的加工这一部分信息。有外界刺激的就不用说了，比如我们在看图画，欣赏作品，谈话，读书，做题，对某个问题进行思考，这个时候注意力被极大的调用，集中....</p>
                            <a href="{{ url('life_lifeInfo', {'id': 1}) }}" class="btn btn-default">去看看</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Bootstrap到底是什么？</h3>
                        </div>
                        <div class="panel-body">
                            <p>小伙伴们，上一小节的视频课程已经对Bootstrap提供的模板做了详细的介绍，在这一小节中我们把这个模板代码粘贴过来，以供你们学习查看，你们可以根据实际情况在此基础上进行扩展，只需要确保文件引用顺序一致即可。</p>
                            <a href="{{ url('post_postInfo', {'id': 1}) }}" class="btn btn-default">去看看</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">从挣小钱到大钱还觉得不够，取得的只...</h3>
                        </div>
                        <div class="panel-body">
                            <p class="text-overflow">从挣小钱到大钱还觉得不够,取得的只...一年结束的时候他总是不爽，因为一盘点，总觉得今年没挣够。尽管我们外人看来，已经很好啦。「什么时候下馆子不用看价码了，」他说，「什么时候我..</p>
                            <a href="{{ url('life_lifeInfo', {'id': 2}) }}" class="btn btn-default">去看看</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <!-- Portfolio Section -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">若没有过往 我们该怎样成长</h2>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#">
                        <img class="img-responsive img-portfolio img-hover" src="http://ditie.qiniudn.com/erovo/images/demo/portfolio_8.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#">
                        <img class="img-responsive img-portfolio img-hover" src="http://ditie.qiniudn.com/erovo/images/demo/portfolio_7.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#">
                        <img class="img-responsive img-portfolio img-hover" src="http://ditie.qiniudn.com/erovo/images/demo/portfolio_6.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#">
                        <img class="img-responsive img-portfolio img-hover" src="http://ditie.qiniudn.com/erovo/images/demo/portfolio_5.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#">
                        <img class="img-responsive img-portfolio img-hover" src="http://ditie.qiniudn.com/erovo/images/demo/portfolio_4.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#">
                        <img class="img-responsive img-portfolio img-hover" src="http://ditie.qiniudn.com/erovo/images/demo/portfolio_3.jpg" alt="">
                    </a>
                </div>
            </div>
            <!-- /.row -->

            <!-- Features Section -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">别让自己的心塞太满 要留出点空间让阳光照进来</h2>
                </div>
                <div class="col-md-6">
                    <p>The Modern Business template by Start Bootstrap includes:</p>
                    <ul>
                        <li><strong>Bootstrap v3.2.0</strong>
                        </li>
                        <li>jQuery v1.11.0</li>
                        <li>Font Awesome v4.1.0</li>
                        <li>Working PHP contact form with validation</li>
                        <li>Unstyled page elements for easy customization</li>
                        <li>17 HTML pages</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" src="http://ditie.qiniudn.com/erovo/images/demo/blog-2.jpg" alt="">
                </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- Call to Action Section -->
            <div class="well">
                <div class="row">
                    <div class="col-md-8">
                        <p>没有你,良辰美景又与何人说; 有了你良辰美景知识陪衬.</p>
                        {#<p>与其用泪水悔恨昨天,不如用汗水拼搏今天; 当眼泪流尽的时候,留下的应该是坚强.</p>#}
                        {#<p>谁伤害过你,谁击溃过你,都不重要;重要的是谁让你重现笑容.</p>#}
                    </div>
                    {#<div class="col-md-4">#}
                        {#<a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>#}
                    {#</div>#}
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-lg-12">
                    <p>某一人似曾相识、某一刻似曾经历</p>
                </div>
            </div>

        </div>

    </main>
{% endblock %}
{% block LC_javascript %}

    <script type="text/javascript">
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>

{% endblock %}