{% extends "DemoWebBundle::default_layout.html.twig" %}
{% block pageTitle %}碎言碎语{% endblock %}
{% block pageDescription %}删删写写，虽无法行云流水，却也可碎言碎语。 {% endblock %}

{% block bannerContainer %}

    <div class="bs-docs-masthead">
        <div class="container">
            <div class="blog-header">
                <p class="lead blog-description">删删写写，虽无法行云流水，却也可碎言碎语。</p>
                {#<p class="lead blog-description">那些曾经以为念念不忘的事情就在我们念念不忘的过程里，被我们遗忘了。</p>#}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main class="" id="content" role="main">
        <div class="container">
            <div class="page-title">
                <span class="label arrowed-in-right label-lg">
                    <h1>碎言碎语</h1>
                </span>
            </div>
            <ul class="timeline animated" id="mood-list">


            </ul>
            <nav class="text-center">
                <ul id="pagination" class="pagination pagination-sm">

                </ul>
            </nav>
            {#<div id="timeline-1">
                <div class="row bs-callout">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                        <div class="timeline-container">
                            <div class="timeline-label">
                                <span class="label label-primary arrowed-in-right label-lg">
                                    <b>碎言碎语</b>
                                </span>
                            </div>
                            <div id="mood-list">

                            </div>

                        </div>
                        <nav>
                            <ul id="pagination" class="pagination pagination-sm">

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>#}
        </div>
    </main>
{% endblock %}
{% if total > 0 %}
    {% block LC_javascript %}
        {% javascripts
            '@DemoWebBundle/Resources/public/js/bootstrap-paginator.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script type="text/javascript">

            /*
             # =============================================================================
             #   Timeline animation
             # =============================================================================
             */

            /*timelineAnimate = function(elem) {
                return $(".timeline.animated li").each(function(i) {
                    var bottom_of_object, bottom_of_window;
                    bottom_of_object = $(this).position().top + $(this).outerHeight();
                    bottom_of_window = $(window).scrollTop() + $(window).height();
                    if (bottom_of_window > bottom_of_object) {
                        return $(this).addClass("active");
                    }
                });
            };
            timelineAnimate();
            $(window).scroll(function() {
                return timelineAnimate();
            });*/

            var moodList = [];
            $(function(){
                mood.loadMoods(1);
                var options = {
                    currentPage: 1,
                    totalPages: {{ total }},
                    size:"normal",
                    alignment:"center",
                    itemTexts: function (type, page, current) {
                        switch (type) {
                            case "first":
                                return "<<";
                            case "prev":
                                return "<";
                            case "next":
                                return ">";
                            case "last":
                                return ">>";
                            case "page":
                                return  page;
                        }
                    },
                    onPageClicked: function (e, originalEvent, type, page)
                    {
                        mood.loadMoods(page);
                    }
                }
                $('#pagination').bootstrapPaginator(options);
            });
            var mood = {
                loadMoods: function( page )
                {
                    if( !moodList[page] )
                    {
                        $.get(baseInfo.baseUrl + 'mood/list?page=' + page, function(response)
                        {
                            if(response.success == true)
                            {
                                var strHtml = '';
                                $.each(response.data, function(k, item)
                                {
                                    strHtml += '<li class="active"><div class="timeline-time">' +
                                        '<strong>' + item.moodTimeYD + '</strong>' + item.moodTime +
                                        '</div><div class="timeline-icon"><div class="bg-info"><i class="icon-pencil"></i>' +
                                        '</div></div><div class="timeline-content">';
                                    if( item.moodTitle )
                                    {
                                        strHtml += '<h2>' + item.moodTitle + '</h2>';
                                    }
                                    strHtml += '<p>' + item.moodContent + '</p></div></li>';
                                });
                                $('#mood-list').html(strHtml);
                                moodList[page] = strHtml;
                            }else
                            {
//                        <div class="alert alert-warning alert-dismissible fade in" role="alert">
//                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
//                                <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
//                        </div>
                            }
                        }, 'json');
                    }else
                    {
                        $('#mood-list').html(moodList[page]);
                    }

                }
            };
        </script>
    {% endblock %}
{% endif %}